body {
  font-size: 13.5px;
}

.flex-class {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.college-card {
  width: 637.3px;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px rgba(68, 68, 68, 0.1);
  background-color: #ffffff;
}

.image-class {
  width: 100%;
}

.college-fee-discount-class {
  display: flex;
}

.rating-card {
  height: 53px;
  border-radius: 3.8px;
  background-color: #f5a626;
  float: right;
  margin: 25px 10px 10px;
  padding: 5px;
}

.top-half-card {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/collegeImages/college.jpg");
  background-size: cover;
  width: 639px;
  height: 234px;
}

.bottom-half-card {
  padding: 10px 0;
}

.padx-10px {
  padding: 0 10px;
}

.zero-margin {
  margin: 0;
}

.font-bold {
  font-weight: 900;
}

.non-rated-star {
  color: lightgrey;
}

.rated-star,
.greyish-brown {
  color: "#444444";
}

.promoted-div {
  width: 152px;
  height: 33px;
  background-color: #68a7ff;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
  position: absolute;
  top: -7%;
  right: 0px;
}

.promoted-div .zero-margin {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-text {
  font-size: 20px;
  color: white;
}

.rating-star-list {
  margin-left: 10px;
}

.tag-1,
.tag-2 {
  display: inline-block;
  padding: 10px;
  border-radius: 16.5px;
  margin-left: 5px;
  background: white;
  color: #444444;
}

.ranking-class {
  font-weight: 500;
  line-height: 1.33;
  margin-right: 10px;
  color: #ffffff;
}

.tag-ranking-upper-half {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.top-half-card > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.amenties {
  color: #37b396;
  width: 60px;
  height: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.offer-text {
  background-color: #ccf5e7;
  padding: 10px 7px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 52%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.original-fees {
  text-decoration: line-through;
  font-size: 11px;
  font-weight: 500;
}

.discount {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  width: 29px;
  font-size: 11px;
  height: 14px;
  text-align: right;
  padding-right: 7px;
  background-color: #dd1c26;
  color: white;
  background: radial-gradient(circle at 10px, transparent 6%, #dd1c26 5.5%);
}

.offer-text-login {
  color: #1999d2;
}
